@use 'variables'
@use 'mixins'
main
    .paiDeTodos-container
        .goodbye-container
            display: flex
            justify-content: center
            align-items: center
            gap: 10vw
            > span
                font-size: max(3vh + 0px, 5vw + 0px)
                font-weight: bold
            > img
                width: max(10vh, 20vw)
