@font-face {
  font-family: "sansationregular";
  src: url("./fontes/sansation-regular-webfont.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sansationbold";
  src: url("./sansation-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sansationbold_italic";
  src: url("./sansation-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sansationitalic";
  src: url("./sansation-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sansation_lightlight";
  src: url("./sansation-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sansation_lightlight_italic";
  src: url("./sansation-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  width: 100vw;
  scroll-behavior: smooth;
}
html * {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
html body {
  font-family: sansationregular;
  background-color: #f1a761;
  overflow-x: hidden;
}
html body header {
  height: 10vh;
  width: 100vw;
}
html body footer {
  display: grid;
  place-items: center;
  height: 10vh;
  width: 100%;
}
html body footer .copyright-container {
  color: rgba(255, 255, 255, 0.7);
  display: grid;
  place-items: center;
  font-size: calc(1vw + 1vh);
}

header .menu-container {
  text-align: center;
}
header .menu-container .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 10vh;
  position: fixed;
  z-index: 1;
  background-color: rgba(241, 167, 97, 0.5921568627);
}
header .menu-container .menu li > .option {
  color: black;
  font-size: calc(1vw + 1vh);
  transition: color 3s ease;
  display: flex;
  align-items: center;
  gap: 3px;
  transition: all 0.3s ease-in-out;
}
header .menu-container .menu li > .option.active {
  background-color: rgba(241, 167, 97, 0.5921568627);
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
}

main .paiDeTodos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
main .paiDeTodos-container > div {
  min-height: 100vh;
  width: 100vw;
  transition: right 3s, top 0s 3s;
  border-bottom: 10px solid #F1A661;
}

main .alert-pai-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  gap: 40px;
}
main .alert-pai-container h1 {
  font-size: max(2vw, 2vh);
  font-weight: bold;
  margin-top: 20px;
}
main .alert-pai-container > img {
  width: max(15vw, 20vh);
}
main .alert-pai-container .botoes-container {
  display: flex;
  gap: 40px;
}
main .alert-pai-container .botoes-container > div {
  background-color: #F1A661;
  padding: max(1.8vw, 1.8vh) max(3vw, 3vh) max(1.8vw, 1.8vh) max(3vw, 3vh);
  border-radius: 40px;
  font-size: calc(0.5vw + 1.5vh);
  font-weight: bold;
  cursor: pointer;
  box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.5);
  border: 3px outset rgba(255, 255, 255, 0.9);
}
main .alert-pai-container .botoes-container > div > a {
  color: black;
}

main .paiDeTodos-container .home-pai-container {
  display: flex;
  align-items: center;
}
main .paiDeTodos-container .home-pai-container .left-container {
  width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(0.5vw + 1vh);
  gap: 20px;
}
main .paiDeTodos-container .home-pai-container .left-container .socials-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 40%;
}
main .paiDeTodos-container .home-pai-container .left-container .socials-container > a img {
  width: 100%;
  cursor: pointer;
}
main .paiDeTodos-container .home-pai-container .left-container > span {
  font-weight: bolder;
  font-size: 1.3em;
}
main .paiDeTodos-container .home-pai-container .left-container > h1 {
  text-align: center;
  width: 10em;
  font-weight: bold;
}
main .paiDeTodos-container .home-pai-container .right-container {
  width: 50vw;
  height: 80vh;
  display: grid;
  place-items: center;
}
main .paiDeTodos-container .home-pai-container .right-container > div {
  width: clamp(500px, 30vw, 700px);
}
main .paiDeTodos-container .home-pai-container .right-container > div > img {
  width: 100%;
  object-fit: fill;
}
@media screen and (max-height: 763px) {
  main .paiDeTodos-container .home-pai-container .right-container > div > img {
    width: 70%;
  }
}

main .paiDeTodos-container .project-pai-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main .paiDeTodos-container .project-pai-container > h1 {
  text-align: center;
  width: 10em;
}
main .paiDeTodos-container .project-pai-container .left-container {
  height: 70vh;
  width: 90%;
  gap: 30px;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
main .paiDeTodos-container .project-pai-container .left-container .project-container {
  width: clamp(300px, 500px, 25vw);
  height: 50%;
  background-color: #FFD8A9;
  border: 8px inset #F1A661;
  padding: 10px;
  display: grid;
  place-items: center;
  position: relative;
}
main .paiDeTodos-container .project-pai-container .left-container .project-container > span {
  color: #ffffff;
  font-size: 1.6em;
  font-weight: bold;
  -webkit-text-stroke: 0.7px #F1A661;
  transform: rotate(-45deg);
}
main .paiDeTodos-container .project-pai-container .left-container .project-container > a {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
main .paiDeTodos-container .project-pai-container .left-container .project-container > img {
  width: 100%;
  object-fit: cover;
}
main .paiDeTodos-container .project-pai-container .left-container::-webkit-scrollbar {
  display: none;
}

main .paiDeTodos-container .bio-pai-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main .paiDeTodos-container .bio-pai-container .up-container {
  margin-top: 10vh;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
main .paiDeTodos-container .bio-pai-container .up-container .caixa-bio-container {
  display: flex;
  align-items: center;
  width: 80vw;
  height: 60vh;
  border-radius: 30px;
  border: 1px inset rgba(255, 255, 255, 0.5);
  border-top: 3px inset rgba(255, 255, 255, 0.5);
  border-left: 3px inset rgba(255, 255, 255, 0.5);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
main .paiDeTodos-container .bio-pai-container .up-container .caixa-bio-container .botoes-container {
  height: 100%;
}
main .paiDeTodos-container .bio-pai-container .up-container .caixa-bio-container .botoes-container > div {
  background-color: rgba(241, 167, 97, 0.768627451);
  cursor: pointer;
  font-size: calc(0.5vh + 1vw);
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  height: 33.3333333333%;
  display: grid;
  place-items: center;
  padding: 0 2vw 0 2vw;
}
main .paiDeTodos-container .bio-pai-container .up-container .caixa-bio-container .botoes-container > #contactMeBTN {
  border-top-left-radius: 30px;
}
main .paiDeTodos-container .bio-pai-container .up-container .caixa-bio-container .botoes-container > #referencesBTN {
  border-bottom-left-radius: 30px;
}
main .paiDeTodos-container .bio-pai-container .up-container .caixa-bio-container .botoes-container > div.active {
  background-color: rgba(241, 167, 97, 0.2117647059);
}
main .paiDeTodos-container .bio-pai-container .up-container .caixa-bio-container .botoes-container::-webkit-scrollbar {
  display: none;
}
main .paiDeTodos-container .bio-pai-container .up-container .caixa-bio-container .conteudo-container::-webkit-scrollbar {
  display: none;
}
main .paiDeTodos-container .bio-pai-container .up-container .caixa-bio-container .conteudo-container {
  position: relative;
  text-align: left;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 0px 30px 30px 0px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
main .paiDeTodos-container .bio-pai-container .up-container .caixa-bio-container .conteudo-container > div {
  background: rgba(0, 0, 0, 0);
}
main .paiDeTodos-container .bio-pai-container .up-container .caixa-bio-container .conteudo-container .contacMe-container {
  visibility: hidden;
  position: absolute;
  transform: rotateX(90deg);
  transition: transform 1.5s, visibility 0s;
  color: rgba(0, 0, 0, 0.9);
}
main .paiDeTodos-container .bio-pai-container .up-container .caixa-bio-container .conteudo-container .contacMe-container > ul li {
  list-style: disc;
  font-size: calc(1vw + 1vh);
  margin: 40px;
}
main .paiDeTodos-container .bio-pai-container .up-container .caixa-bio-container .conteudo-container .bio-container {
  visibility: hidden;
  position: absolute;
  transform: rotateX(90deg);
  transition: transform 1.5s, visibility 0s;
  margin: 5px 20px;
  margin-top: 1vw;
  color: rgba(0, 0, 0, 0.9);
}
main .paiDeTodos-container .bio-pai-container .up-container .caixa-bio-container .conteudo-container .bio-container > span {
  line-height: 200%;
  font-weight: 500;
  font-size: calc(1vw + 1vh);
}
main .paiDeTodos-container .bio-pai-container .up-container .caixa-bio-container .conteudo-container .references-container {
  visibility: hidden;
  position: absolute;
  transform: rotateX(90deg);
  transition: transform 1.5s, visibility 0s;
}
main .paiDeTodos-container .bio-pai-container .up-container .caixa-bio-container .conteudo-container .references-container > ul li {
  list-style: disc;
  font-size: calc(1vw + 1vh);
  margin: 40px;
}
main .paiDeTodos-container .bio-pai-container .up-container .caixa-bio-container .conteudo-container .references-container > ul li a {
  display: block;
  font-size: calc(1vw + 1vh);
  color: rgba(0, 0, 0, 0.9);
}
main .paiDeTodos-container .bio-pai-container .up-container .caixa-bio-container .conteudo-container > .show {
  visibility: visible;
  transform: rotateX(0deg);
}
main .paiDeTodos-container .bio-pai-container .down-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
  font-size: calc(1vw + 1vh);
}
main .paiDeTodos-container .bio-pai-container .down-container > img {
  width: max(100px, 10vw);
  margin-bottom: 30px;
}

:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  --fw-normal: 400;
  --fw-bold: 700;
  --clr: #f1a761;
}

main .paiDeTodos-container .habilities-pai-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
main .paiDeTodos-container .habilities-pai-container .card {
  display: inline;
  width: max(25vw, 300px);
}
main .paiDeTodos-container .habilities-pai-container .card .card__content {
  text-align: center;
  position: relative;
  padding: 10em 5em;
  transition: transform 3s;
  transform-style: preserve-3d;
}
main .paiDeTodos-container .habilities-pai-container .card .card__content .card__front,
main .paiDeTodos-container .habilities-pai-container .card .card__content .card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
  border-radius: 15px;
}
main .paiDeTodos-container .habilities-pai-container .card .card__content .card__front {
  background-color: var(--clr);
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
  color: #333;
}
main .paiDeTodos-container .habilities-pai-container .card .card__content .card__front .card__title {
  order: 2;
  font-size: 3.5rem;
  text-transform: uppercase;
  transform: var(--level-three);
}
main .paiDeTodos-container .habilities-pai-container .card .card__content .card__front .card__subtitle {
  transform: var(--level-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  opacity: 0.7;
}
main .paiDeTodos-container .habilities-pai-container .card .card__content .card__back {
  transform: rotateY(0.5turn);
  color: var(--clr);
  background: #333;
}
main .paiDeTodos-container .habilities-pai-container .card .card__content .card__back .card__body {
  transform: var(--level-two);
  font-weight: var(--fw-normal);
  font-size: 1.5rem;
  line-height: 1.6;
}
main .paiDeTodos-container .habilities-pai-container .card .card__content .card__front::before {
  content: "";
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  bottom: var(--spacer);
  border: 3px solid black;
  transform: var(--level-one);
}
main .paiDeTodos-container .habilities-pai-container .card .card__front.html {
  background-image: url(https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg);
}
main .paiDeTodos-container .habilities-pai-container .card .card__front.css {
  background-image: url(https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg);
}
main .paiDeTodos-container .habilities-pai-container .card .card__front.javascript {
  background-image: url(https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg);
}
main .paiDeTodos-container .habilities-pai-container .card:hover .card__content {
  transform: rotateY(0.5turn);
}

/*# sourceMappingURL=web.css.map */
