header
    .menu-container
        text-align: center
        .menu
            display: flex
            justify-content: space-around
            align-items: center
            width: 100vw
            height: 10vh
            position: fixed
            z-index: 1
            background-color: #f1a76197
            li
                > .option
                    color: black
                    font-size: calc(1vw + 1vh)
                    transition: color 3s ease
                    display: flex
                    align-items: center
                    gap: 3px
                    transition: all .3s ease-in-out
                > .option.active
                    background-color: #f1a76197
                    padding: 10px 20px 10px 20px
                    border-radius: 15px
