header
    .menu-container
        display: grid
        place-items: center
        .menu
            display: flex
            justify-content: space-around
            align-items: center
            width: 100vw
            height: 10vh
            position: fixed
            z-index: 1
            top: .1%
            background-color: #f1a76197
            li
                > a
                    color: black
                    font-size: calc(1vw + 1vh)
                    transition: color 3s ease
