main
    .paiDeTodos-container
        display: flex
        flex-direction: column
        align-items: center
        gap: 10px
        > div
            height: 100vh
            width: 100vw
            background-color: rgba(254, 254, 254, .9)
            transition: right 3s, top 0s 3s